configuration {
    modi: "menu";
    icon-theme:  "Oranchelo";
    show-icons: true;
    terminal: "kitty";
    drun-display-format: "{icon} {name}";
    location: 0;
    disable-history: false;
    hide-scrollbar: true;
    sidebar-mode: false;
}

@theme "~/.config/rofi/themes/catppuchin-mocha.rasi"

inputbar {
    enabled: false;
}

window {
    height: 110px;
    width: 400;
}
