/* catppuccin-mocha */
@define-color rosewater #f5e0dc;
@define-color flamingo #f2cdcd;
@define-color pink #f5c2e7;
@define-color mauve #cba6f7;
@define-color red #f38ba8;
@define-color maroon #eba0ac;
@define-color peach #fab387;
@define-color yellow #f9e2af;
@define-color green #a6e3a1;
@define-color teal #94e2d5;
@define-color sky #89dceb;
@define-color sapphire #74c7ec;
@define-color blue #89b4fa;
@define-color lavender #b4befe;
@define-color text #cdd6f4;
@define-color subtext1 #bac2de;
@define-color subtext0 #a6adc8;
@define-color overlay2 #9399b2;
@define-color overlay1 #7f849c;
@define-color overlay0 #6c7086;
@define-color surface2 #585b70;
@define-color surface1 #45475a;
@define-color surface0 #313244;
@define-color mantle #181825;
@define-color crust #11111b;

* {
    background-image: none;
    font-size: ${fntSize}px;
}

window {
    background-color: transparent;
}

button {
    color: white;
    background-color: @surface0;
    outline-style: none;
    border: none;
    border-width: 0px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 10%;
    border-radius: 0px;
    box-shadow: none;
    text-shadow: none;
    animation: gradient_f 20s ease-in infinite;
}

button:focus {
    background-color: @lavender;
    background-size: 20%;
}

button:hover {
    background-color: @pink;
    background-size: 25%;
    border-radius: ${active_rad}px;
    animation: gradient_f 20s ease-in infinite;
    transition: all 0.3s cubic-bezier(.55,0.0,.28,1.682);
}

button:hover#lock {
    border-radius: ${active_rad}px ${active_rad}px 0px ${active_rad}px;
    margin : ${y_hvr}px 0px 0px ${x_hvr}px;
}

button:hover#logout {
    border-radius: ${active_rad}px 0px ${active_rad}px ${active_rad}px;
    margin : 0px 0px ${y_hvr}px ${x_hvr}px;
}

button:hover#shutdown {
    border-radius: ${active_rad}px ${active_rad}px ${active_rad}px 0px;
    margin : ${y_hvr}px ${x_hvr}px 0px 0px;
}

button:hover#reboot {
    border-radius: 0px ${active_rad}px ${active_rad}px ${active_rad}px;
    margin : 0px ${x_hvr}px ${y_hvr}px 0px;
}

#lock {
    background-image: image(url("$HOME/.config/wlogout/icons/lock.png"));/* , url("/usr/share/wlogout/icons/lock.png"), url("/usr/local/share/wlogout/icons/lock.png")); */
    border-radius: ${button_rad}px 0px 0px 0px;
    margin : ${y_mgn}px 0px 0px ${x_mgn}px;
}

#logout {
    background-image: image(url("$HOME/.config/wlogout/icons/logout.png"));/* , url("/usr/share/wlogout/icons/logout.png"), url("/usr/local/share/wlogout/icons/logout.png")); */
    border-radius: 0px 0px 0px ${button_rad}px;
    margin : 0px 0px ${y_mgn}px ${x_mgn}px;
}

#shutdown {
    background-image: image(url("$HOME/.config/wlogout/icons/shutdown.png"));/* , url("/usr/share/wlogout/icons/shutdown.png"), url("/usr/local/share/wlogout/icons/shutdown.png")); */
    border-radius: 0px ${button_rad}px 0px 0px;
    margin : ${y_mgn}px ${x_mgn}px 0px 0px;
}

#reboot {
    background-image: image(url("$HOME/.config/wlogout/icons/reboot.png"));/* , url("/usr/share/wlogout/icons/reboot.png"), url("/usr/local/share/wlogout/icons/reboot.png")); */
    border-radius: 0px 0px ${button_rad}px 0px;
    margin : 0px ${x_mgn}px ${y_mgn}px 0px;
}

